@import url('@livechat/design-system/dist/design-system.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.full-screen-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.view-container {
  padding: 16px;
}

.agents-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
